{% extends 'base.html' %}
{% block title %}文字 - Raphah{% endblock%}
{% block stitle %}我的记录{% endblock %}
{% block content %}
<div class="container">
				<div class="main">
					<div class="mod-content">
						<section>
							<h3>笔记</h3>
							<ul>
								<li><a href="/front-end-note/" target="_blank">Web前端</a></li>
							</ul>
						</section>
						<section>
							<h3>查询文档</h3>
							<ul>
								<li><a href="http://passer-by.com/api/" target="_blank">常用API</a></li>
							</ul>
						</section>
					</div>
				</div>
			</div>
{% endblock %}